<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" providerName="System.Data.SqlClient" connectionString="server=YOAV-LAP\YBSQL;database=pixelDB;uid=sa;password=Password!@#;MultipleActiveResultSets=True"/>

    <add name="myConnectionString_prod" connectionString="server=(local);database=pixelDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GEO_COUNTRY_DB" value="C://inetpub//wwwroot//Myloopme.com//GeoIP.dat" />  
  </appSettings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
   <customErrors defaultRedirect="SomePage.htm" />
  </system.web>



  <log4net>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Admin_Log_File.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="3MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
</configuration>